.top_rated__menu{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 5px;
  top: 188px;
  gap: 30px;
  font-family: 'Forum', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 98.5%;
  color: #79655E;
}
